* {
  margin: 0;
  padding: 0;
}
body {
  background: #141617;
  height: 100%;
}

h1 {
  min-height: 100vh;
  color: #fe3b1f;
  font-size: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Rowdies';
  font-weight: 400;
}
